<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Frontpage ANY>
<!ATTLIST Frontpage id ID #REQUIRED>
<!ELEMENT MasterDocType ANY>
<!ATTLIST MasterDocType id ID #REQUIRED>
<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>

]>
<root id="-1">
  <Frontpage id="1047" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-09-22T16:12:50" updateDate="2013-09-22T18:12:10" nodeName="Forside" urlName="forside" path="-1,1047" isDoc="" nodeType="1045" creatorName="Mads" writerName="Mads" writerID="0" template="1050" nodeTypeAlias="Frontpage">
    <Textpage id="1048" parentID="1047" level="2" creatorID="0" sortOrder="0" createDate="2013-09-22T16:13:22" updateDate="2013-09-22T16:13:26" nodeName="Textpage" urlName="textpage" path="-1,1047,1048" isDoc="" nodeType="1046" creatorName="Mads" writerName="Mads" writerID="0" template="0" nodeTypeAlias="Textpage" />
  </Frontpage>
</root>